# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# SQLite DB
db.sqlite3

# Media uploads
media/

# Static collected files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db